.backdrop {
  position: fixed;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 30;
  background-color: rgba(57, 55, 72, 0.22);
}

.modal {
  position: fixed;
  top: 8rem;
  right: 11%;
  width: 32.5rem;
  background-color: white;
  padding: 3.2rem 1.6rem;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  overflow-y: scroll;
  max-height: 65rem;
}

.modal::-webkit-scrollbar {
  width: 0.5rem;
}

.modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background: #a79e9e;
  border-radius: 10px;
}
