.title {
  font-size: 4.2rem;
  font-weight: 400;
}

.image-container {
  max-height: 50rem;
  min-height: 40rem;
  position: relative;
  width: 22%;
  height: 24vw;
  min-width: 28rem;
  transition: all 0.5s;
}

.text-link {
  text-decoration: none;
}

.error {
  text-align: center;
  margin-top: 12rem;
  font-size: 2rem;
  color: orangered;
}

.loading {
  text-align: center;
  margin-top: 12rem;
  font-size: 2rem;
  color: rgb(32, 23, 41);
}
