.title {
  font-size: 4.2rem;
  font-weight: 400;
}

.image-container {
  max-height: 50rem;
  min-height: 40rem;
  position: relative;
  width: 22%;
  height: 24vw;
  min-width: 28rem;
  transition: all 0.5s;
}

.text-link {
  text-decoration: none;
}
