body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1350px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 40%;
  }
}
